.sidebar {
  height: 100%;
  position: fixed;
  /* z-index: 1; */
  z-index: 99;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  position: absolute;
  width: 70px;
  box-sizing: border-box;
  background-image: none;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1);
  overflow-x: hidden;
  transition: padding 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  overflow: auto;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 80px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-right: 1px solid #8080808c;
  /* padding-top: 100px; */
  /* padding-top: 16px; */
  position: fixed;
}

.sidebar-open {
  width: 250px;
}

.sidebar-close {
  width: 70px;
}

.sidebar a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  /* font-size: 20px; */
  cursor: pointer;
  background-color: white;
  color: gray;
  /* padding: 10px 15px; */
  border: none;
}

/* .openbtn:hover {
    background-color: #444;
  } */

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  /* margin-top: 85px; */
  margin-top: 68px;

}

.side-bar-icon {
  /* color: #707070; */
  color: #202020;
  margin: 6px;
}

.side-bar-icon-active {
  color: white;
  margin: 6px;
}

.side-bar-icon-text {
  color: #202020;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: flex;
  text-align: left;
  align-items: center;
  /* white-space: nowrap; */
}

.side-bar-close {
  display: none;
}

.sidebar-close-icon-span {
  background: #F7F7F7;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */

}

.side-bar-active-tab {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid powderblue; */
  background: orange;
}

.sidebar-close-icon-active {
  color: darkblue;
  /* margin: 6px; */
}

.open-sidebar-wrap {
  padding-left: 18px;

}

.open-sidebar-logo-wrap {
  align-items: center;
  margin-bottom: 29px;
  position: fixed;
  background: white;
  height: 62px;
  width: 235px;
}

.close-sidebar-logo-wrap {
  align-items: center;
  margin-bottom: 29px;
  position: fixed;
  background: white;
  height: 62px;
  width: 55px;

}

.menu-sidebar-content {
  background: #80808017;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-height: 580px) {
  .sidebar-close-icon-span {
    background: #F7F7F7;
    width: 30px;
    height: 28px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  }

  .side-bar-active-tab {
    background: orange;
  }

  .sidebar-open {
    width: 325px;
  }

  .sidebar {
    /* padding-top: 15px; */
  }

  /* .sidebar a {
    font-size: 18px;
  } */

  .sidebar-close {
    width: 35px;
    display: none;
  }

  .css-1umw9bq-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 15px !important;
    height: 15px !important;
    display: inline-block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    fill: currentColor;
  }

  .nav-open-logo {
    margin-top: 9px !important;
    width: 90px;

  }

  .mobile-page-layout {
    margin-left: 0px !important;
  }

  /* .close-sidebar-logo-wrap {
    align-items: center;
    margin-bottom: 29px;
    position: fixed;
    background: white;
    height: 62px;
    width: 34px;
  }

  .sidebar-close-icon-span {
    background: #F7F7F7;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
  }

  .side-bar-icon-active {
    color: white;
    margin: 3px;
  }


  .css-1umw9bq-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 12px !important;
    height: 12px !important;
    display: inline-block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    fill: currentColor;
  }

  .side-bar-icon {
    color: #202020;
    margin: 3px;
  }

  .side-bar-active-tab {
    background: orange;
  }

  .mobile-page-layout {
    margin-left: 0px !important;
  } */
}